:root {
  --gray-100: #2c2c2c;
  --gray-200: #414141;
  --gray-300: #565656;
  --gray-400: #727272;
  --gray-500: #818181;
  --gray-600: #919191;
  --gray-700: #ababab;
  --gray-800: #c8c8c8;
  --gray-900: #e8e8e8;

  --paper: #eee8d5;
  --sea: #268bd2;
  --coral: #e04c4a;
}

/* :root { */
/*   --gray-900: #2c2c2c; */
/*   --gray-800: #414141; */
/*   --gray-700: #565656; */
/*   --gray-600: #727272; */
/*   --gray-500: #818181; */
/*   --gray-400: #919191; */
/*   --gray-300: #ababab; */
/*   --gray-200: #c8c8c8; */
/*   --gray-100: #e8e8e8; */
/* } */
