@import 'primeicons/primeicons.css';
@import 'breakpoints.css';
@import 'color.css';
@import 'layout.css';
@import 'transitions.css';
@import 'typography.css';

html {
  background-color: var(--gray-200);
}

body {
  background-color: var(--paper);
  margin: 0;
}
